<app-page-bg-box class="my-nft-box pb-8">
  <app-base-box>
    <h2 class="text-4xl font-bold py-4 lg:py-6 px-4 lg:px-0 pb-5" i18n>我的关注/收藏</h2>
    <div class="border-round-lg w-full surface-0 px-4 gl:px-6 py-4">
      <p-tabView [activeIndex]="tabType" (onChange)="onChangeTab($event)">
        <!--  -->
        <p-tabPanel header="收藏" i18n-header>
          <div class="flex flex-wrap">
            <div
              class="w-6 md:w-3 px-2 mb-3 overflow-hidden"
              *ngFor="let item of starTableData">
              <p-card
                styleClass="surface-900 p-2"
                class="surface-900">
                <ng-template pTemplate="header">
                  <div class="card-header-inner" [routerLink]="['/show/nft/'+item.id]">
                    <div class="card-header-center">
                      <img
                        class="w-full h-full card-image fit-contain"
                        [src]="item.image"
                        [alt]="item.id" />
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="body">
                  <div class="flex justify-content-between text-500" [routerLink]="['/collection']" [queryParams]="{'id':item.collectionInfo.id}">
                    <p class="text-xs">{{item.collectionInfo.name}}</p>
                    <i class="iconfont text-xl" [ngClass]="item.auctionInfo.inAuctioning ? 'icon-paimai' : 'icon-biaoq'"></i>
                  </div>
                  <p class="text-0 py-2" [routerLink]="['/show/nft/'+item.id]">
                    {{item.name}}
                  </p>
                  <div class="flex align-items-center pt-2">
                    <img class="w-1rem h-1rem border-circle" [src]="item.priceUnit.logo" [alt]="item.priceUnit.name">
                    <p class="pl-1 font-bold text-0">{{item.price | bigNum}}</p>
                  </div>
                  <div class="flex pt-1 align-items-center">
                    <p class="flex-1 text-xs" i18n>
                      {{
                        item.auctionInfo.inAuctioning ? ('还剩' + item.auctionInfo.showTime) : ''
                      }}
                    </p>
                    <button
                      pButton
                      (click)="changeOwnData(item)"
                      class="p-button-rounded p-button-text p-0 h-2rem w-2rem"
                      [ngClass]="{'text-500': !item.isFollow}"
                      [icon]="item.isFollow ? 'pi pi-heart-fill' : 'pi pi-heart'"></button>
                  </div>
                </ng-template>
              </p-card>
            </div>
            <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="starTableData.length==0">
              <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
              <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
            </div>
          </div>
        </p-tabPanel>
        <!--  -->
        <!-- <p-tabPanel header="关注" i18n-header>
          <p-table [value]="followTableData" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-600 text-center white-space-nowrap" i18n></th>
                <th class="text-600 font-normal text-left white-space-nowrap" i18n>用户</th>
                <th class="text-600 font-normal text-center white-space-nowrap" i18n>地板价</th>
                <th class="text-600 font-normal text-center white-space-nowrap" i18n>7日 %</th>
                <th class="text-600 font-normal text-center white-space-nowrap" i18n>1日 %</th>
                <th class="text-600 font-normal text-center white-space-nowrap" i18n>持有者</th>
                <th class="text-600 font-normal text-center white-space-nowrap" i18n>项目</th>
                <th class="text-600 text-center white-space-nowrap" i18n></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center">{{product.id}}</td>
                <td>
                  <div class="flex align-items-center">
                    <img class="w-2rem h-2rem border-circle" [src]="product.user.logo" [alt]="product.user.name">
                    <p class="pl-1">{{product.user.name}}</p>
                  </div>
                </td>
                <td>
                  <div class="flex align-items-center justify-content-center">
                    <img class="w-1rem h-1rem border-circle" [src]="product.minPriceUnit.logo" [alt]="product.user.name">
                    <p class="pl-1 font-bold">{{product.minPrice}}</p>
                  </div>
                </td>
                <td>
                  <p class="text-center" [class]="product.chgInWeekDirection ? 'text-green-600' : 'text-red-600'">
                    {{product.chgInWeek}}
                  </p>
                </td>
                <td>
                  <p class="text-center" [class]="product.chgInDayDirection ? 'text-green-600' : 'text-red-600'">
                    {{product.chgInDay}}
                  </p>
                </td>
                <td>
                  <p class="text-center">
                    {{product.ownersNum}}
                  </p>
                </td>
                <td>
                  <p class="text-center">
                    {{product.productsNum}}
                  </p>
                </td>
                <td>
                  <button
                    pButton
                    (click)="changeFollowData(product)"
                    class="p-button-outlined border-circle"
                    [ngClass]="product.isFollow ? '' : 'text-400'"
                    [icon]="product.isFollow ? 'pi pi-star-fill' : 'pi pi-star'"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel> -->
        <!--  -->
        <p-tabPanel header="合集" i18n-header>
          <div class="flex flex-wrap">
            <div
              class="w-full md:w-6 lg:w-3 px-2 pb-4"
              *ngFor="let item of collectionTableData">
              <div class="border-round-lg overflow-hidden">
                <div class="w-full surface-200 h-7rem" [routerLink]="['/collection']" [queryParams]="{'id':item.id}">
                  <img class="w-full h-7rem card-image" [src]="item.bgImage" [alt]="item.name">
                </div>
                <div class="collection-info flex justify-content-between align-items-end">
                  <div class="border-circle border-0" [routerLink]="['/collection']" [queryParams]="{'id':item.id}">
                    <img
                      class="surface-200 w-3rem h-3rem border-circle"
                      [src]="item.mainImage"
                      [alt]="item.name">
                  </div>
                  <div class="flex-1 overflow-hidden" [routerLink]="['/collection']" [queryParams]="{'id':item.id}">
                    <p class="font-bold white-space-nowrap text-overflow-ellipsis w-full overflow-hidden line-height-4">
                      {{item.name}} - {{item.describe}}
                    </p>
                  </div>
                  <button
                    pButton
                    (click)="changeCollectionData(item)"
                    class="p-button-rounded p-button-text p-0 h-2rem w-2rem"
                    [ngClass]="{'text-500': !item.isFollow}"
                    [icon]="item.isFollow ? 'pi pi-heart-fill' : 'pi pi-heart'"></button>
                </div>
              </div>
            </div>
            <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="collectionTableData.length==0">
              <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
              <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </app-base-box>
</app-page-bg-box>
