.my-nft-box {
  ::ng-deep {
    .p-tabview-panels {
      padding: 1rem 0;
      th {
        padding: 0.8rem 1rem;
      }
    }
    .p-button-rounded.p-button-text:focus {
      box-shadow: none;
    }
    .p-card-body {
      padding: 0 0.5rem;
    }
  }
  .card-header-center {
    max-height: 14rem;
    height: 40vw;
    cursor: pointer;
  }
  .card-image {
    border-radius: 0.5rem;
  }
  .collection-info {
    margin-top: -1rem;
    .border-circle {
      border: 0.2rem solid var(--surface-0);
    }
  }
}
