<app-page-bg-box class="create-collection">
  <app-base-box class="overflow-visible">
    <h2
      class="text-4xl font-bold py-4 lg:py-6 px-4 lg:px-0"
      *ngIf="collectionId === null"
      i18n>
      创建新合集
    </h2>
    <h2
      class="text-4xl font-bold py-4 lg:py-6 px-4 lg:px-0"
      *ngIf="collectionId !== null"
      i18n>
      修改合集
    </h2>
    <div class="border-round-lg w-full surface-0 px-4 gl:px-6 py-4 lg:py-6 mb-4">
      <!--  -->
      <div>
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            上传图片
          </h3>
        </div>
        <div class="flex flex-column lg:flex-row justify-content-between">
          <div class="flex-1 flex mb-4">
            <app-drag-box (onDrop)="onGetMainImage($event)">
              <div class="surface-100 h-15rem w-15rem border-round-lg flex flex-column justify-content-center align-items-center text-center text-400 relative">
                <p class="pi pi-cloud-upload text-7xl pb-2"></p>
                <p class="text-xl" i18n>合集主图</p>
                <div *ngIf="mainImage" class="w-full h-full absolute z-1 surface-0">
                  <img
                    class="w-full h-full absolute top-0 left-0 fit-contain"
                    [src]="mainImage"
                    alt="">
                </div>
              </div>
            </app-drag-box>
            <div class="flex flex-column flex-1 pl-4 align-items-start ">
              <p class="text-lg font-bold pb-2" i18n>合集主图</p>
              <p class="text-600 flex-1" i18n>
                支持JPG、PNG、GIF
                <br />
                推荐尺寸 400 x 400px
                <br />
                大小在1M以内
              </p>
              <app-choose-file
                (onDrop)="onGetMainImage($event)"
                styleClass="mb-4">
                <button
                  pButton
                  type="button"
                  label="选择文件"
                  class="p-button-outlined mb-4"></button>
              </app-choose-file>
            </div>
          </div>
          <div class="flex-1 flex mb-4">
            <app-drag-box (onDrop)="onGetBannerBg($event)">
              <div class="surface-100 h-15rem w-15rem border-round-lg flex flex-column justify-content-center align-items-center text-center text-400 relative">
                <p class="pi pi-cloud-upload text-7xl pb-2"></p>
                <p class="text-xl" i18n>横幅背景</p>
                <div *ngIf="bannerBg" class="w-full h-full absolute z-1 surface-0">
                  <img
                    class="w-full h-full absolute top-0 left-0 fit-contain"
                    [src]="bannerBg"
                    alt="">
                </div>
              </div>
            </app-drag-box>
            <div class="flex flex-column flex-1 pl-4 align-items-start">
              <p class="text-lg font-bold pb-2" i18n>横幅背景</p>
              <p class="text-600 flex-1" i18n>
                支持JPG、PNG、GIF
                <br />
                推荐尺寸 1920 x 280px
                <br />
                大小在1M以内
              </p>
              <app-choose-file
                (onDrop)="onGetBannerBg($event)"
                styleClass="mb-4">
                <button
                  pButton
                  type="button"
                  label="选择文件"
                  class="p-button-outlined mb-4"></button>
              </app-choose-file>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            合集名称&nbsp;<sup>*</sup>
          </h3>
        </div>
        <input
          class="w-9 lg:w-6 p-inputtext-lg text-base"
          type="text"
          pInputText
          placeholder="好的名字能引发关联想象，吸引观众哦～"
          [(ngModel)]="name"
          (input)="onListenData()"
          i18n-placeholder />
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 border-circle mr-3 surface-300"></div>
          <h3 class="text-xl" i18n>
            合集描述
          </h3>
        </div>
        <input
          class="w-9 lg:w-6 p-inputtext-lg text-base"
          type="text"
          pInputText
          [(ngModel)]="describe"
          (input)="onListenData()"
          placeholder="介绍你的合集，让更多人了解TA的价值"
          i18n-placeholder />
      </div>
      <!--  -->
      <!-- <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 border-circle mr-3 surface-300"></div>
          <h3 class="text-xl" i18n>
            自定义个性化网址
          </h3>
        </div>
        <input
          class="w-9 lg:w-6 p-inputtext-lg text-base"
          type="text"
          pInputText
          [(ngModel)]="webSite"
          placeholder="https://"
          i18n-placeholder />
      </div> -->
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            创作者收益
          </h3>
        </div>
        <div class="flex flex-column-reverse lg:flex-row w-9 lg:w-6">
          <input
            class="p-inputtext-lg text-base flex-1"
            type="text"
            pInputText
            placeholder="收益地址"
            [(ngModel)]="profit.address"
            (input)="onListenData()"
            i18n-placeholder />
          <div class="w-1rem h-1rem"></div>
          <p-inputNumber
            class="text-base p-0 border-none"
            pInputText
            suffix="%"
            placeholder="费率"
            mode="decimal"
            [maxFractionDigits]="2"
            [(ngModel)]="profit.rate"
            (onInput)="onListenData()"
            (onBlur)="onListenData()"
            [min]="0"
            [max]="10"
            i18n-placeholder>
          </p-inputNumber>
        </div>
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5 w-full">
          <div class="w-0-8 h-0-8 border-circle mr-3 bg-primary"></div>
          <h3 class="text-xl flex-1" i18n>
            可支付代币
          </h3>
        </div>
        <div class="flex w-full">
          <p-multiSelect
            class="w-9 lg:w-6 p-inputtext-lg text-base"
            styleClass="w-full"
            [(ngModel)]="selectedBuyToken"
            (onChange)="onListenData()"
            [options]="buyTokens"
            (onLazyLoad)="getTokenList($event)"
            [virtualScroll]="true"
            [virtualScrollItemSize]="46"
            [lazy]="true"
            [showHeader]="false"
            dataKey="token"
            placeholder="选择代币"
            tooltipPosition="bottom"
            optionLabel="name"
            i18n-placeholder>
            <ng-template pTemplate="selectedItems">
              <div class="flex" *ngIf="selectedBuyToken.length < 3">
                <div class="h-1rem"></div>
                <div class="flex align-items-center pr-2" *ngFor="let item of selectedBuyToken">
                  <img
                    [src]="item.logo"
                    class="w-1rem h-1rem" />
                  <p class="pl-2">{{item.name}}</p>
                  <p *ngIf="item.token&&item.token!='gx1qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq8rta3w'" class="pl-2 text-sm text-600">({{item.token|centerSlice}})</p>
                </div>
              </div>
              <div class="flex" *ngIf="selectedBuyToken.length >= 3 && selectedBuyToken.length < 6">
                <div class="flex align-items-center pr-2" *ngFor="let item of selectedBuyToken">
                  <img
                    [src]="item.logo"
                    class="w-1rem h-1rem" />
                  <p class="pl-2">{{item.name}}</p>
                </div>
              </div>
              <div class="flex" *ngIf="selectedBuyToken.length >= 6">
                <div class="flex align-items-center pr-2" *ngFor="let item of selectedBuyToken">
                  <p class="pl-2">{{item.name}}</p>
                </div>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div class="flex align-items-center">
                <img
                  [src]="item.logo"
                  class="w-1rem h-1rem" />
                <p class="pl-2">{{item.name}}</p>
                <p *ngIf="item.token&&item.token!='gx1qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq8rta3w'" class="pl-2 text-sm text-600">({{item.token|centerSlice}})</p>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 border-circle mr-3 surface-300"></div>
          <h3 class="text-xl" i18n>
            社交链接
          </h3>
        </div>
        <input
          class="w-9 lg:w-6 p-inputtext-lg text-base"
          type="text"
          pInputText
          [(ngModel)]="interactiveLink"
          (input)="onListenData()"
          placeholder="欢迎您链接到自己的网页"
          i18n-placeholder />
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            类别
          </h3>
        </div>
        <p-multiSelect
          styleClass="w-9 lg:w-6"
          [options]="types"
          placeholder="选择"
          optionLabel="title"
          [baseZIndex]="20"
          [selectionLimit]="1"
          [(ngModel)]="typeSelected"
          (onChange)="onListenData()"
          i18n-placeholder>
        </p-multiSelect>
      </div>
      <!--  -->
      <button
        pButton
        [disabled]="!canCreate"
        class="w-9 lg:w-6 block mt-4 lg:mx-0 mx-auto"
        [label]="collectionId === null ? '创建' : '修改'"
        (click)="onCreateCollection()"
        type="button"></button>
    </div>
  </app-base-box>
</app-page-bg-box>
