<div class="surface-100">
  <app-base-box class="py-2 md:py-4 px-2 md:px-0 flex justify-content-end">
    <button
      pButton
      class="p-button-outlined px-6 md:px-8 py-1"
      label="编辑"
      i18n-label></button>
    <div class="w-1rem"></div>
    <button
      pButton
      class="px-6 md:px-8 py-1"
      label="出售"
      i18n-label></button>
  </app-base-box>
</div>
<app-page-bg-box class="show-nft pb-8 pt-4">
  <app-base-box class="show-nft-top flex flex-column-reverse md:flex-row md:align-items-stretch">
    <div class="top-image-box">
      <img
        class="top-image-img"
        [src]="productInfo.image"
        [alt]="productInfo.name">
    </div>
    <div class="top-info-box flex-1 flex flex-column justify-content-between">
      <div class="info-info flex-1 pl-4 pr-6">
        <p class="info-user">
          <i class="pi pi-book"></i>{{productInfo.owner}}
        </p>
        <h3 class="info-title">
          {{productInfo.name}} #{{productInfo.id}}
        </h3>
        <p class="info-followers">
          <i class="pi pi-heart-fill"></i>{{productInfo.followerVol}} <span i18n>关注</span>
        </p>
      </div>
      <div class="market-box flex align-items-center">
        <p class="text-0 text-2xl md:text-3xl font-bold pl-6" i18n>尚未出售</p>
        <div class="market-btn-list">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-heart-fill"
            class="p-button-rounded market-btns-btn">
          </button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-replay"
            class="p-button-rounded market-btns-btn">
          </button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-share-alt"
            class="p-button-rounded market-btns-btn">
          </button>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
  </app-base-box>
  <app-base-box>
    <div class="flex-1 surface-0 border-round-xl border-1 border-100 overflow-hidden">
      <p-tabView>
        <p-tabPanel header="收藏品介绍" i18n-header>
          <p class="info-"></p>
        </p-tabPanel>
        <p-tabPanel header="合计介绍" i18n-header>
        </p-tabPanel>
        <p-tabPanel header="链信息" i18n-header>
        </p-tabPanel>
      </p-tabView>
    </div>
  </app-base-box>
  <app-base-box>
    <div class="w-1rem h-1rem"></div>
    <div class="surface-0 border-round-xl border-1 border-100 overflow-hidden">
      <p class="table-title" i18n>
        买家报价
        <span class="text-xs text-600">10 条报价信息</span>
      </p>
      <p-table [value]="outputPriceList" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th i18n>价格</th>
            <th i18n>USD价格</th>
            <th i18n>过期时间</th>
            <th i18n>发送方</th>
          </tr>
        </ng-template>
        <ng-template *ngIf="outputPriceList.length !== 0" pTemplate="body" let-product>
          <tr>
            <td>{{product.priceOfBaseToken}}</td>
            <td>{{product.priceOfDollar}}</td>
            <td>{{product.remainingDays}}</td>
            <td>{{product.user.name}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="4">
              <div class="mx-auto flex flex-column align-items-center py-6">
                <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
                <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </app-base-box>
  <app-base-box>
    <div class="w-1rem h-1rem"></div>
    <div class="surface-0 border-round-xl border-1 border-100 overflow-hidden">
      <p class="table-title" i18n>
        交易历史
        <span class="text-xs text-600">10 条报价信息</span>
      </p>
      <p-table [value]="marketHistoryList" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th i18n>价格</th>
            <th i18n>发送方</th>
            <th i18n>时间</th>
          </tr>
        </ng-template>
        <ng-template *ngIf="marketHistoryList.length !== 0" pTemplate="body" let-product>
          <tr>
            <td>{{product.type}}</td>
            <td>{{product.price}}</td>
            <td>{{product.user.name}}</td>
            <td>{{product.time}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="4">
              <div class="mx-auto flex flex-column align-items-center py-6">
                <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
                <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </app-base-box>
  <app-base-box class="pb-6">
    <p class="table-title" i18n>来自此系列的更多藏品</p>
    <div class="auction-more flex flex-wrap justify-content-between" *ngIf="moreRecommend.length !== 0">
      <div class="auction-more-outer" *ngFor="let item of moreRecommend">
        <div class="auction-more-item">
          <img class="auction-more-img" [src]="item.image" [alt]="item.name">
          <div class="auction-more-info flex justify-content-between px-2 align-items-end">
            <p class="auction-more-name">
              {{item.name}}
            </p>
            <p class="auction-more-price">
              {{item.price}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="auction-box flex flex-column align-items-center py-8" *ngIf="moreRecommend.length === 0">
      <img class="w-4rem" src="../../../assets/images/home/no-data-more.png" alt="no-data">
      <p class="pt-2 text-400 text-sm" i18n>没有更多信息</p>
    </div>
  </app-base-box>
</app-page-bg-box>
