.com-header {
  position: relative;
  z-index: 20;
  overflow: initial;
}
.pc-header {
  ::ng-deep {
    .p-inputtext {
      background-color: var(--surface-100);
    }
    .p-megamenu {
      background-color: transparent;
      border: none;
    }
    .p-menuitem {
      font-weight: bold;
      color: var(--surface-900);
      .pi-globe {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--surface-900);
        margin-right: 0!important;
      }
      .pi-angle-down {
        display: none;
      }
      .p-megamenu-panel {
        right: 0;
      }
    }
    .get-account-button {
      background-color: var(--surface-900);
      padding: 0.4rem 2rem;
    }
  }
  .header-input {
    max-width: 37rem;
  }
  .header-input-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3rem;
    background-color: transparent;
    border: none;
  }
  .avatar-button {
    background: none;
    border: none;
  }
}

.web-header {
  position: relative;
  z-index: 20;
  background-color: transparent;
  transition: background-color 0.1s;
  &.white-bg {
    background-color: var(--surface-0);
  }
  ::ng-deep {
    .p-button-text {
      padding: 0.5rem;
      &:focus {
        box-shadow: 0 0 0 2px var(--surface-900);
      }
    }
    .iconfont {
      font-size: 1.6rem;
      color: var(--surface-900);
    }
  }
}

.web-menu {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--surface-0);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  z-index: 10;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../../assets/images/home/first-bg.jpg);
    background-size: 100% 100%;
  }
}
