<app-base-box class="com-header">
  <header class="hidden pc-header lg:flex py-3 align-items-center">
    <a [routerLink]="['']">
      <img class="w-8rem" src="assets/images/logo/very5-B@2x.png" />
    </a>
    <div class="flex flex-1 justify-content-end pr-2 pl-4">
      <label class="header-input p-input-icon-right w-full">
        <i class="pi pi-search"></i>
        <input
          #searchInput
          class="w-full"
          i18n-placeholder
          placeholder="搜索收藏品、合集、以及账户"
          type="text"
          pInputText
          [(ngModel)]="searchText" >
        <button class="header-input-search" type="submit"></button>
      </label>
    </div>
    <div class="flex">
      <p-megaMenu [model]="items">
        <ng-template pTemplate="end">
          <p-button
            *ngIf="!hadAccount"
            styleClass="get-account-button"
            i18n="按钮"
            (onClick)="onLinkWallet()">
            关联钱包
          </p-button>
          <div *ngIf="hadAccount" class="pl-2">
            <button class="avatar-button cursor-pointer" (click)="onSwitchUserMenu()">
              <p-avatar
                [image]="accountAvatar === undefined ? 'assets/images/logo/default-avatar@2x.png' : accountAvatar"
                pBadge
                shape="circle"></p-avatar>
            </button>
          </div>
        </ng-template>
      </p-megaMenu>
    </div>
  </header>
  <header #comHeader class="flex web-header lg:hidden py-2 px-2 align-items-center" [ngClass]="{'white-bg': webMenuType !== 0}">
    <a [routerLink]="['']">
      <img class="w-8rem" src="assets/images/logo/very5-B@2x.png" />
    </a>
    <div class="flex-1"></div>
    <button
      pButton
      class="p-button-text"
      icon="iconfont icon-sousuo" [routerLink]="['/search']"></button>
    <button
      pButton
      (click)="onChangeWebMenuType(webMenuType === 0 ? 1 : 0)"
      class="p-button-text text-2xl"
      icon="iconfont icon-liebiao"></button>
  </header>
  <ng-template *ngTemplateOutlet="webMenu"></ng-template>
</app-base-box>

<!-- 移动端侧边栏 -->
<ng-template #webMenu>
  <div #webMenuContent class="web-menu flex flex-column py-4" *ngIf="webMenuType">
    <div class="flex flex-column flex-1 z-1 relative" *ngIf="webMenuType === 1">
      <div class="flex-1 overflow-scroll">
        <div class="flex py-4 px-4 align-items-center cursor-pointer item-focus" (click)="onChangeWebMenuType(2)">
          <i class="iconfont icon-tansuo text-xl"></i>
          <p class="flex-1 px-2 font-bold text-xl" i18n>探索</p>
          <i class="pi pi-angle-right text-xl"></i>
        </div>
        <div class="flex py-4 px-4 align-items-center cursor-pointer top-border item-focus" (click)="goLink('1')">
          <i class="iconfont icon-paihangbang text-xl"></i>
          <p class="flex-1 px-2 font-bold text-xl" i18n>排行榜</p>
        </div>
        <div class="flex py-4 px-4 align-items-center cursor-pointer top-border item-focus" (click)="goLink('2')">
          <i class="iconfont icon-chuangjian text-xl"></i>
          <p class="flex-1 px-2 font-bold text-xl" i18n>创造NFT</p>
        </div>
        <div *ngIf="hadAccount" class="flex py-4 px-4 align-items-center cursor-pointer top-border item-focus" (click)="onSwitchUserMenu()">
          <i class="iconfont icon-shezhi text-xl"></i>
          <p class="flex-1 px-2 font-bold text-xl" i18n>我的</p>
        </div>
        <div class="flex py-4 px-4 align-items-center cursor-pointer top-border item-focus" (click)="onChangeWebMenuType(3)">
          <i class="iconfont icon-yuyan-01 text-xl"></i>
          <p class="flex-1 px-2 font-bold text-xl" i18n>语言</p>
          <p class="px-2 font-bold text-xl">{{(appService.appData$|async)?.languageToFormat()}}</p>
          <i class="pi pi-angle-right text-xl"></i>
        </div>
      </div>
      <div class="flex-1" (click)="onChangeWebMenuType(0)"></div>
      <div class="px-4" *ngIf="!hadAccount">
        <button
          pButton
          (click)="onLinkWallet()"
          label="链接钱包"
          class="w-full"
          i18n-label></button>
      </div>
    </div>
    <div class="flex flex-column flex-1 z-1 relative" *ngIf="webMenuType === 2">
      <div class="item-focus text-2xl pl-2 py-2" i18n (click)="onChangeWebMenuType(1)">
        <i class="pi pi-angle-left text-2xl"></i>
        探索
      </div>
      <div class="flex-1 overflow-scroll pl-4">
        <div *ngFor="let item of exploreList" class="flex py-4 px-4 align-items-center cursor-pointer top-border item-focus" (click)="menuTab(item)">
          <p class="flex-1 px-2 font-bold text-xl" i18n>{{item.title}}</p>
        </div>
      </div>
    </div>
    <div class="flex flex-column flex-1 z-1 relative" *ngIf="webMenuType === 3">
      <div class="item-focus text-2xl pl-2 py-2" i18n (click)="onChangeWebMenuType(1)">
        <i class="pi pi-angle-left text-2xl"></i>
        语言
      </div>
      <div class="flex-1 overflow-scroll pl-4">
        <div *ngFor="let item of (appService.appData$|async)?.languageListToFormat()" class="flex py-4 px-4 align-items-center cursor-pointer top-border item-focus"  (click)="changeLang(item)">
          <p class="flex-1 px-2 font-bold text-xl" i18n>{{item}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>





<p-overlayPanel
  styleClass="no-from"
  [baseZIndex]="10"
  [style]="{width: searchTipWidth + 'px'}"
  #searchTip>
  <ng-template pTemplate>
    <div class="search-content">
      <p-accordion>
        <p-accordionTab header="NFT" i18n-header [selected]="searchResult.selected === 1">
          <div class="search-content-scroll">
            <div
              class="flex py-2 cursor-pointer align-items-center border-bottom-1 border-200"
              *ngFor="let item of searchResult.nft" [routerLink]="['/show/nft/'+item.id]">
              <img
              class="w-2rem h-2rem fit-contain"
                [src]="item.logo"
                [alt]="item.name">
              <div class="w-1rem h-1rem"></div>
              <div class="flex-1 text-right text-900 overflow-hidden">
                <p class="text-900">
                  {{item.name}}
                </p>
                <p class="text-sm text-600 white-space-nowrap text-overflow-ellipsis overflow-hidden w-full">
                  {{item.describe}}
                </p>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="合集" i18n-header [selected]="searchResult.selected === 2">
          <div class="search-content-scroll">
            <div
              class="flex py-2 cursor-pointer align-items-center border-bottom-1 border-200"
              *ngFor="let item of searchResult.collection" [routerLink]="['/collection']" [queryParams]="{'id':item.id}">
              <img
              class="w-2rem h-2rem fit-contain"
                [src]="item.logo"
                [alt]="item.name">
              <div class="w-1rem h-1rem"></div>
              <div class="flex-1 text-right text-900 overflow-hidden">
                <p class="text-900">
                  {{item.name}}
                </p>
                <p class="text-sm text-600 white-space-nowrap text-overflow-ellipsis overflow-hidden w-full">
                  {{item.describe}}
                </p>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="用户" i18n-header [selected]="searchResult.selected === 3">
          <div class="search-content-scroll">
            <div
              class="flex py-2 cursor-pointer align-items-center border-bottom-1 border-200"
              *ngFor="let item of searchResult.user" [routerLink]="['/user']" [queryParams]="{'id':item.id}">
              <img
              class="w-2rem h-2rem fit-contain border-circle"
                [src]="item.logo"
                [alt]="item.name">
              <div class="w-1rem h-1rem"></div>
              <div class="flex-1 text-right text-900 overflow-hidden">
                <p class="text-900">
                  {{item.name}}
                </p>
                <p class="text-sm text-600 white-space-nowrap text-overflow-ellipsis overflow-hidden w-full">
                  {{item.describe}}
                </p>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </ng-template>
</p-overlayPanel>
