<div #page class="content-explore">
  <div class="content-explore-title">
    探索合集
  </div>
  <div class="content-explore-tabbar flex align-items-center overflow-auto">
    <div class="content-explore-tabbar-item flex justify-content-center align-items-center" *ngFor="let item of tabbar; let i=index" [class]="i==tabbarIndex?'actived':''" (click)="changeIndex(i)">
      <span class="white-space-nowrap">{{item.name}}</span>
    </div>
  </div>
  <div class="content-explore-list flex flex-wrap">
    <div class="content-explore-list-item" *ngFor="let items of exploreList">
      <explore-item [item]="items"></explore-item>
    </div>

    <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="exploreList.length==0">
      <img class="w-6rem" src="assets/images/home/no-data.png" alt="no-data">
      <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
    </div>
  </div>
  <div *ngIf="total>10">
    <p-paginator [rows]="pageSize" [totalRecords]="total" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
