@font-face {
  font-family: "iconfont"; /* Project id 3496401 */
  src: url('./font_3496401_ba58ntdijyd.woff2?t=1667626863580') format('woff2'),
       url('./font_3496401_ba58ntdijyd.woff?t=1667626863580') format('woff'),
       url('./font_3496401_ba58ntdijyd.ttf?t=1667626863580') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala1:before {
  content: "\e65c";
}

.icon-shuaxin1:before {
  content: "\e631";
}

.icon-tishishuoming1:before {
  content: "\e64c";
}

.icon-shezhi1:before {
  content: "\e60a";
}

.icon-share1:before {
  content: "\e66a";
}

.icon-shezhi2:before {
  content: "\e62b";
}

.icon-fuzhi1:before {
  content: "\e610";
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-liudong:before {
  content: "\e827";
}

.icon-shuliang:before {
  content: "\e83e";
}

.icon-yuyan:before {
  content: "\e838";
}

.icon-zhanghu:before {
  content: "\e839";
}

.icon-chuangjian:before {
  content: "\e83a";
}

.icon-qianbao:before {
  content: "\e83b";
}

.icon-tansuo:before {
  content: "\e83c";
}

.icon-paihangbang:before {
  content: "\e83d";
}

.icon-xia:before {
  content: "\e837";
}

.icon-liebiao:before {
  content: "\e836";
}

.icon-xinxi:before {
  content: "\e600";
}

.icon-rili:before {
  content: "\e620";
}

.icon-xuanze:before {
  content: "\e619";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-shijian1:before {
  content: "\eb2a";
}

.icon-dengchu:before {
  content: "\eb45";
}

.icon-bianji:before {
  content: "\e668";
}

.icon-tishishuoming:before {
  content: "\e6f4";
}

.icon-add-s:before {
  content: "\e637";
}

.icon-shangchuan:before {
  content: "\e623";
}

.icon-shanchu:before {
  content: "\eafb";
}

.icon-fuzhi:before {
  content: "\e650";
}

.icon-shezhi:before {
  content: "\e624";
}

.icon-shoucang1:before {
  content: "\e615";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-wenjianjia:before {
  content: "\e7d7";
}

.icon-guanbi:before {
  content: "\e60d";
}

.icon-chuangjiang:before {
  content: "\e833";
}

.icon-jiaoyi:before {
  content: "\e834";
}

.icon-shangjia:before {
  content: "\e835";
}

.icon-shuaxin:before {
  content: "\e669";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-aixin1:before {
  content: "\e8c3";
}

.icon-share:before {
  content: "\e606";
}

.icon-biaoq:before {
  content: "\e831";
}

.icon-paimai:before {
  content: "\e832";
}

.icon-xiala:before {
  content: "\e7ac";
}

.icon-sort:before {
  content: "\e65e";
}

.icon-shijian:before {
  content: "\e635";
}

.icon-qian:before {
  content: "\e61b";
}

.icon-line-137:before {
  content: "\e78f";
}

.icon-sanjiao_fill-:before {
  content: "\e6a0";
}

.icon-icon-test:before {
  content: "\e657";
}

.icon-icon-test1:before {
  content: "\e658";
}

.icon-a-shoucangxingxing:before {
  content: "\e64f";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-yuyan-01:before {
  content: "\e60c";
}
