<div class="table-content">
  <div class="table-content-list">
    <div class="table-content-list-title flex align-items-center justify-content-between">
      <div class="table-content-list-title-item"></div>
      <div class="table-content-list-title-item flex align-items-center">收藏品</div>
      <div class="table-content-list-title-item flex align-items-center">单价</div>
      <div class="table-content-list-title-item flex align-items-center">数量</div>
      <div class="table-content-list-title-item flex align-items-center">从</div>
      <div class="table-content-list-title-item flex align-items-center">到</div>
      <div class="table-content-list-title-item flex align-items-center">时间</div>
    </div>
    <div class="table-content-list-item flex align-items-center justify-content-between">
      <div class="table-content-list-item-item flex align-items-center">
        <span class="iconfont icon-paimai"></span>
        <span>出价</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        <img src="../../../../assets/images/explore/imgs.png" alt="">
        <span>Brtod ww #566</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        <img src="../../../../assets/images/explore/pc.png" alt="">
        <span>1050</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        1
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        <img src="../../../../assets/images/explore/imgs.png" alt="">
        <span>Brtod ww #566</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        <img src="../../../../assets/images/explore/imgs.png" alt="">
        <span>Brtod ww #566</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        1小时前
      </div>
    </div>
  </div>
</div>
