.table-content{
  width: 100%;
  background: #FFFFFF;
  border-radius: 1.25rem;
  padding: 2rem 1.25rem;
  overflow-x: auto;
  margin-right: 3rem;
  &-list{
    width: auto;
    &-item,&-title{
      padding-left: 2rem;
      &-item{
        flex: none;
        font-size: 1rem;
        color: #000000;
        &:nth-child(1){
          width: 13rem;
          font-weight: bold;
          .iconfont{
            font-size: 1.5rem;
            color: #868686;
            margin-right: 0.75rem;
            font-weight: normal;
          }
        }
        &:nth-child(2){
          width: 16rem;
          img{
            width: 3rem;
            height: 3rem;
            margin-right: 0.75rem;
          }
        }
        &:nth-child(3){
          width: 10.5rem;
          img{
            width: 1rem;
            margin-right: 0.75rem;
          }
        }
        &:nth-child(4){
          width: 9rem;
        }
        &:nth-child(5),&:nth-child(6){
          width: 15rem;
          img{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            margin-right: 0.75rem;
          }
        }
        &:nth-child(7){
          width: 11rem;
          color: #868686;
        }
      }
    }
    &-item{
      height: 5.5rem;
      border-bottom: 1px solid #F0F0F0;
    }
    &-title{
      height: 3rem;
      background: #F8FAFC;
      &-item{
        height: 100%;
        background: #F8FAFC;
        color: #868686 !important;
      }
    }
  }
}