<div class="table-content">
  <div class="table-content-list">
    <div class="table-content-list-title flex align-items-center justify-content-between">
      <div class="table-content-list-title-item"></div>
      <div class="table-content-list-title-item flex align-items-center">收藏品</div>
      <div class="table-content-list-title-item flex align-items-center">单价</div>
      <div class="table-content-list-title-item flex align-items-center">数量</div>
      <div class="table-content-list-title-item flex align-items-center">从</div>
      <div class="table-content-list-title-item flex align-items-center">到</div>
      <div class="table-content-list-title-item flex align-items-center">时间</div>
    </div>
    <div class="table-content-list-item flex align-items-center justify-content-between" *ngFor="let item of list">
      <div class="table-content-list-item-item flex align-items-center">
        <span class="iconfont icon-chuangjiang" *ngIf="item.EventType =='create'"></span>
        <span class="iconfont icon-jiaoyi" *ngIf="item.EventType =='successful'"></span>
        <span class="iconfont icon-paimai" *ngIf="item.EventType =='cancelled'"></span>
        <span class="iconfont icon-shangjia" *ngIf="item.EventType =='make'"></span>
        <span>{{item.EventType =='make'?'创建':item.EventType =='successful'?'销售':item.EventType =='cancelled'?'取消':item.EventType =='create'?'拍卖':''}}</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center" [routerLink]="['/show/nft/'+item.Nft.NftOriginal.NftID]">
        <img [src]="item.Nft.NftOriginal.Image" alt="">
        <span>{{item.Nft.NftOriginal.Name}}</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        <!-- <img src="../../../../assets/images/explore/pc.png" alt=""> -->
        <span>{{item.TotalPrice}}{{item.PaymentToken}}</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        {{item.BidAmount|bigNum}}
      </div>
      <div class="table-content-list-item-item flex align-items-center active" [routerLink]="['/user']" [queryParams]="{'id':item.FromAddress}">
        <img [src]="item.FromAccount.Avator" alt="">
        <span>{{item.FromAccount.Name}}</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center active" [routerLink]="['/user']" [queryParams]="{'id':item.ToAddress}">
        <img [src]="item.ToAccount.Avator" alt="">
        <span>{{item.ToAccount.Name}}</span>
      </div>
      <div class="table-content-list-item-item flex align-items-center">
        {{item.UpdateTime}}
      </div>
    </div>
    <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="list.length==0">
      <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
      <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
    </div>
  </div>
</div>
