<app-page-bg-box class="my-nft-box pb-8">
  <app-base-box>
    <h2 class="text-4xl font-bold py-4 lg:py-6 px-4 lg:px-0 pb-5" i18n>设置个人信息</h2>
    <div class="border-round-lg w-full surface-0 px-4 gl:px-6 py-4">
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            头像
          </h3>
        </div>
        <div class="flex">
          <app-drag-box (onDrop)="onGetAvatar($event)">
            <div #avatar draggable="true" class="surface-100 h-10rem w-10rem border-circle flex flex-column justify-content-center align-items-center text-center text-400 relative overflow-hidden">
              <p class="pi pi-cloud-upload text-5xl pb-2"></p>
              <p class="text-base" i18n>个人头像</p>
              <div *ngIf="userAvatar" class="w-full h-full absolute z-1 surface-0">
                <img
                  class="w-full h-full absolute top-0 left-0 fit-contain"
                  [src]="userAvatar"
                  alt="">
              </div>
            </div>
          </app-drag-box>
          <div class="flex flex-column flex-1 pl-4 align-items-start">
            <p class="text-lg font-bold pb-2" i18n>个人头像</p>
            <p class="text-600 flex-1 text-sm" i18n>
              支持JPG、PNG、GIF
              <br />
              推荐尺寸 400 x 400px
              <br />
              大小在1M以内
            </p>
            <app-choose-file
              (onDrop)="onGetAvatar($event)"
              styleClass="mb-4">
              <button
                pButton
                type="button"
                label="选择文件"
                class="p-button-outlined h-2rem"></button>
            </app-choose-file>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            主页封面图
          </h3>
        </div>
        <app-drag-box
          [max-size]="3*1024"
          (onDrop)="onGetMainBg($event)">
          <div class="w-full py-5 px-4 surface-100 border-round-lg flex flex-column align-items-center relative">
            <div *ngIf="mainBg" class="w-full h-5rem h-full mb-2">
              <img
                class="w-full h-full fit-contain"
                [src]="mainBg"
                alt="">
            </div>
            <p class="text-600 flex-1 text-sm text-center" [ngClass]="{'mb-4': !mainBg, 'mb-2': mainBg}" i18n>
              支持JPG、PNG、GIF， 推荐尺寸 1200 x 175px， 大小在3M以内
            </p>
            <app-choose-file
              (onDrop)="onGetMainBg($event)"
              [max-size]="3*1024">
              <button
                pButton
                type="button"
                label="选择文件"
                class="p-button-outlined h-2rem"></button>
            </app-choose-file>
          </div>
        </app-drag-box>
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            用户名
          </h3>
        </div>
        <input
          [(ngModel)]="userNickname"
          class="w-9 lg:w-6 p-inputtext-lg text-base"
          type="text"
          [minlength]="4"
          [maxlength]="18"
          pInputText
          placeholder="4-18个字符，支持中英文、数字、下划线和减号"
          i18n-placeholder />
      </div>
      <!--  -->
      <div class="pb-5">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 bg-primary border-circle mr-3"></div>
          <h3 class="text-xl" i18n>
            简介
          </h3>
        </div>
        <input
          [(ngModel)]="userDescribe"
          class="w-9 lg:w-6 p-inputtext-lg text-base"
          type="text"
          pInputText
          placeholder="请输入个人简介"
          i18n-placeholder />
      </div>
      <!--  -->
      <div class="pb-2">
        <div class="flex align-items-center pb-5">
          <div class="w-0-8 h-0-8 border-circle mr-3 surface-300"></div>
          <h3 class="text-xl" i18n>
            添加链接
          </h3>
        </div>
        <div class="w-9 lg:w-6 p-input-icon-left">
          <i class="pi pi-flag-fill"></i>
          <input
            [(ngModel)]="userWebSite['homeSite']"
            class="w-full p-inputtext-lg text-base"
            type="text"
            pInputText
            placeholder="网站"
            i18n-placeholder />
        </div>
      </div>
      <div class="pb-2">
        <div class="w-9 lg:w-6 p-input-icon-left">
          <i class="pi pi-twitter"></i>
          <input
            [(ngModel)]="userWebSite['twitter']"
            class="w-full p-inputtext-lg text-base"
            type="text"
            pInputText
            placeholder="https://twitter.com/"
            i18n-placeholder />
        </div>
      </div>
      <div class="pb-2">
        <div class="w-9 lg:w-6 p-input-icon-left">
          <i class="pi pi-telegram"></i>
          <input
            [(ngModel)]="userWebSite['telegram']"
            class="w-full p-inputtext-lg text-base"
            type="text"
            pInputText
            placeholder="https://t.me/"
            i18n-placeholder />
        </div>
      </div>
      <!--  -->
      <button
        pButton
        [disabled]="isLoading"
        (click)="onPostUpdate()"
        class="w-9 lg:w-6 block mt-4 lg:mx-0 mx-auto"
        label="提交"
        type="button"></button>
    </div>
  </app-base-box>
</app-page-bg-box>
