.content-nft{
  background-image: url('../../../assets/images/explore/explorebg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 6rem 3rem 0;
  background-color: #F8FAFC;
}