<div class="app-collection">
  <div class="app-collection-top">
    <img class="app-collection-top-banner" [src]="collectionDetail.BannerImageUrl?collectionDetail.BannerImageUrl:'assets/images/explore/very5bg.png'" alt="">
    <div class="app-collection-top-iconList">
      <div class="app-collection-top-iconList-item" (click)="focusCollection()">
        <span class="iconfont icon-aixin" *ngIf="!collectionDetail.IsFocus"></span>
        <span class="iconfont icon-aixin1" *ngIf="collectionDetail.IsFocus"></span>
      </div>
      <div class="app-collection-top-iconList-item" (click)="refresh()">
        <span class="iconfont icon-shuaxin"></span>
      </div>
      <div class="app-collection-top-iconList-item" (click)="shareLink()">
        <span class="iconfont icon-share"></span>
      </div>
    </div>
    <div class="app-collection-top-menu" *ngIf="shareShow">
      <div class="app-collection-top-menu-item" *ngFor="let item of shareItems; let i=index" (click)="chooseShare(i)">
        <span class="icon" [class]="item.icon"></span>
        <span>{{item.label}}</span>
      </div>
    </div>
  </div>
  <div class="app-collection-info flex justify-content-between flex-wrap">
    <div class="app-collection-info-detail flex">
      <div class="app-collection-info-detail-head">
        <img [src]="collectionDetail.CollectionOriginal.Image" alt="">
      </div>
      <div class="app-collection-info-detail-title">
        <div class="app-collection-info-detail-title-name">
          {{collectionDetail.CollectionOriginal.Name}}
        </div>
        <div class="app-collection-info-detail-title-symple" (click)="goUser(collectionDetail.CreatorAccount.Address)">
          {{collectionDetail.CreatorAccount.Name}}
        </div>
        <div class="mobile">
          <div class="app-collection-info-detail-title-num flex align-items-center">
            <div class="app-collection-info-detail-title-num-item flex align-items-center">
              <span i18n>项目 </span>
              <div class="app-collection-info-detail-title-num-num">{{collectionDetail.AssetCount | bigNum}}</div>
            </div>
            <div class="app-collection-info-detail-title-num-item flex align-items-center">
              <span i18n>创建日期 </span>
              <div class="app-collection-info-detail-title-num-num">{{collectionDetail.CollectionOriginal.CreatedAt}}</div>
            </div>
            <div class="app-collection-info-detail-title-num-item flex align-items-center">
              <span i18n>创作者费用 </span>
              <div class="app-collection-info-detail-title-num-num">{{collectionDetail.CollectionOriginal.SellerFeeBasisPoints/100}}%</div>
            </div>
          </div>
          <div class="app-collection-info-detail-title-introduce" [class]="showMore?'':'shot'">{{collectionDetail.CollectionOriginal.Description}}</div>
          <div class="app-collection-info-detail-title-btn flex align-items-center" (click)="clickMore()">
            <div *ngIf="showMore" class="flex align-items-center">
              <span i18n>收起 </span>
              <span [class]="showMore?'down':''" class="iconfont icon-xiala"></span>
            </div>
            <div *ngIf="!showMore" class="flex align-items-center">
              <span i18n>展开 </span>
              <span class="iconfont icon-xiala"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-collection-info-total flex">
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="assets/images/explore/usd.png" alt="">
            <span>{{collectionDetail.TransactionAmount | bigNum}}</span>
          </div>
          <div class="app-collection-info-total-item-tips" i18n>总交易额</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="assets/images/explore/usd.png" alt="">
            <span>{{collectionDetail.LowestPrice | bigNum}}</span>
          </div>
          <div class="app-collection-info-total-item-tips" i18n>地板价</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="assets/images/explore/usd.png" alt="">
            <span>{{collectionDetail.HighestPrice | bigNum}}</span>
          </div>
          <div class="app-collection-info-total-item-tips" i18n>最佳报价</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <span>{{collectionDetail.SellingNumber?((collectionDetail.SellingNumber/collectionDetail.AssetCount)*100).toFixed():0}}%</span>
          </div>
          <div class="app-collection-info-total-item-tips" i18n>已刊登</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <span>{{collectionDetail.HaveNumber|bigNum}}</span>
          </div>
          <div class="app-collection-info-total-item-tips" i18n>持有者</div>
      </div>
      <div *ngIf="canEdit" class="app-collection-info-total-item">
        <a [routerLink]="['/edit/collection', collectionDetail.CollectionOriginal.CollectionID]">
          <button
          pButton
          label="编辑合集"
          i18n-label></button>
        </a>
      </div>
    </div>
  </div>
  <div class="contents-nft">
    <app-filter-box [collectionType]="(tabActive+1)" (change)="filterChange($event)"></app-filter-box>
    <div class="list-box">
      <div class="list-box-tabbar flex align-items-center">
        <div class="list-box-tabbar-item flex justify-content-center align-items-center" *ngFor="let item of tabbar; let i=index" [class]="i==tabActive?'actived':''" (click)="checkTab(i)">{{item}}</div>
      </div>
      <div *ngIf="tabActive==0">
        <div class="list-box-title flex align-items-center justify-content-between">
          <div class="list-box-title-total flex align-items-center">
            <div class="list-box-title-total-icon flex align-items-center justify-content-center" (click)="getNftList()">
              <span class="iconfont icon-shuaxin"></span>
            </div>
            <div class="list-box-title-total-num">{{nftList.length}}<span i18n> 结果</span></div>
          </div>
          <div class="list-box-title-sort flex align-items-center">
            <p-dropdown [options]="sortList" optionLabel="name" placeholder="排 序" [style]="{'width': '100%'}">
            </p-dropdown>
            <div class="list-box-title-sort-icon flex align-items-center justify-content-center" (click)="switchList(1)">
              <img src="assets/images/explore/sige.png" alt="" *ngIf="listType == 1">
              <img src="assets/images/explore/sige1.png" alt="" *ngIf="listType == 2">
            </div>
            <div class="list-box-title-sort-icon flex align-items-center justify-content-center" (click)="switchList(2)">
              <img src="assets/images/explore/jiuge.png" alt="" *ngIf="listType == 1">
              <img src="assets/images/explore/jiuge1.png" alt="" *ngIf="listType == 2">
            </div>
          </div>
        </div>
        <div class="list-box-list flex align-items-center flex-wrap">
          <div *ngFor="let items of nftList">
            <nft-item  [type]="listType" [item]="items"></nft-item>
          </div>
          <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="nftList.length==0">
            <img class="w-6rem" src="assets/images/home/no-data.png" alt="no-data">
            <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
          </div>
        </div>
      </div>
      <div *ngIf="tabActive==1">
        <app-table [list]="transList"></app-table>
      </div>
    </div>
  </div>
</div>
