<div class="app-collection">
  <div class="app-collection-top">

  </div>
  <div class="app-collection-info flex justify-content-between flex-wrap">
    <div class="app-collection-info-detail flex">
      <div class="app-collection-info-detail-head">
        <img src="../../../assets/images/explore/imgs.png" alt="">
      </div>
      <div class="app-collection-info-detail-title">
          <div class="app-collection-info-detail-title-name">
            StreetMachine
          </div>
          <div class="app-collection-info-detail-title-symple">
            NFT Brtod
          </div>
          <div class="app-collection-info-detail-title-num flex align-items-center">
            <div class="app-collection-info-detail-title-num-item flex align-items-center">
              <span i18n>项目</span>
              <div class="app-collection-info-detail-title-num-num">8.0K</div>
            </div>
            <div class="app-collection-info-detail-title-num-item flex align-items-center">
              <span i18n>项目</span>
              <div class="app-collection-info-detail-title-num-num">8.0K</div>
            </div>
            <div class="app-collection-info-detail-title-num-item flex align-items-center">
              <span i18n>项目</span>
              <div class="app-collection-info-detail-title-num-num">8.0K</div>
            </div>
          </div>
          <div class="app-collection-info-detail-title-introduce" [class]="showMore?'':'shot'">Here is the introduction.Here is the introduction.Here is the introduction.Here is the introduction.</div>
          <div class="app-collection-info-detail-title-btn flex align-items-center" (click)="clickMore()">
            <div *ngIf="showMore" class="flex align-items-center">
              <span i18n>收起 </span> 
              <span [class]="showMore?'down':''" class="iconfont icon-xiala"></span>
            </div>
            <div *ngIf="!showMore" class="flex align-items-center">
              <span i18n>展开 </span> 
              <span class="iconfont icon-xiala"></span>
            </div>
          </div>
      </div>
    </div>
    <div class="app-collection-info-total flex">
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="../../../assets/images/explore/pc.png" alt="">
            <span>407K</span>
          </div>
          <div class="app-collection-info-total-item-tips">总交易额</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="../../../assets/images/explore/pc.png" alt="">
            <span>407K</span>
          </div>
          <div class="app-collection-info-total-item-tips">总交易额</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="../../../assets/images/explore/pc.png" alt="">
            <span>407K</span>
          </div>
          <div class="app-collection-info-total-item-tips">总交易额</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="../../../assets/images/explore/pc.png" alt="">
            <span>407K</span>
          </div>
          <div class="app-collection-info-total-item-tips">总交易额</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="../../../assets/images/explore/pc.png" alt="">
            <span>407K</span>
          </div>
          <div class="app-collection-info-total-item-tips">总交易额</div>
      </div>
      <div class="app-collection-info-total-item">
          <div class="app-collection-info-total-item-num flex align-items-center">
            <img src="../../../assets/images/explore/pc.png" alt="">
            <span>407K</span>
          </div>
          <div class="app-collection-info-total-item-tips">总交易额</div>
      </div>
    </div>
  </div>
  <div class="contents-nft">
    <app-filter-box></app-filter-box>
    <div class="list-box">
      <div class="list-box-tabbar flex align-items-center">
        <div class="list-box-tabbar-item flex justify-content-center align-items-center" *ngFor="let item of tabbar; let i=index" [class]="i==tabActive?'actived':''" (click)="checkTab(i)">{{item}}</div>
      </div>
      <div *ngIf="tabActive==0||tabActive==1">
        <div class="list-box-title flex align-items-center justify-content-between">
          <div class="list-box-title-total flex align-items-center">
            <div class="list-box-title-total-icon flex align-items-center justify-content-center">
              <span class="iconfont icon-shuaxin"></span>
            </div>
            <div class="list-box-title-total-num">1,104,299<span i18n> 结果</span></div>
          </div>
          <div class="list-box-title-sort flex align-items-center">
            <p-dropdown [options]="sortList" optionLabel="name" placeholder="排 序" [style]="{'width': '100%'}">
            </p-dropdown>
            <div class="list-box-title-sort-icon flex align-items-center justify-content-center" (click)="switchList(1)">
              <img src="../../../assets/images/explore/sige.png" alt="" *ngIf="listType == 1">
              <img src="../../../assets/images/explore/sige1.png" alt="" *ngIf="listType == 2">
            </div>
            <div class="list-box-title-sort-icon flex align-items-center justify-content-center" (click)="switchList(2)">
              <img src="../../../assets/images/explore/jiuge.png" alt="" *ngIf="listType == 1">
              <img src="../../../assets/images/explore/jiuge1.png" alt="" *ngIf="listType == 2">
            </div>
          </div>
        </div>
        <div class="list-box-list flex align-items-center flex-wrap">
          <nft-item [type]="listType"></nft-item>
          <nft-item [type]="listType"></nft-item>
          <nft-item [type]="listType"></nft-item>
          <nft-item [type]="listType"></nft-item>
          <nft-item [type]="listType"></nft-item>
          <nft-item [type]="listType"></nft-item>
        </div>
      </div>
      <div *ngIf="tabActive==2">
        <div class="content-explore-list-item flex align-items-center">
          <explore-item *ngFor="let items of exploreList" [item]="items"></explore-item>
        </div>
      </div>
      <div *ngIf="tabActive==3">
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>
