<div class="app-user">
  <div class="app-user-top">
    <img [src]="userInfo.Conver?userInfo.Conver:'../../../assets/images/explore/very5bg.png'" alt="">
    <div class="app-user-top-iconList">
      <div class="app-user-top-iconList-item" (click)="refresh()">
        <span class="iconfont icon-shuaxin"></span>
      </div>
      <div class="app-user-top-iconList-item" (click)="shareLink()">
        <span class="iconfont icon-share"></span>
      </div>
    </div>
    <div class="app-user-top-menu" *ngIf="shareShow">
      <div class="app-user-top-menu-item" *ngFor="let item of shareItems; let i=index" (click)="chooseShare(i)">
        <span class="icon" [class]="item.icon"></span>
        <span>{{item.label}}</span>
      </div>
    </div>
  </div>
  <div class="app-user-info flex justify-content-between flex-wrap">
    <div class="app-user-info-detail flex">
      <div class="app-user-info-detail-head">
        <img [src]="userInfo.Avator" alt="">
      </div>
      <div class="app-user-info-detail-title">
          <div class="app-user-info-detail-title-name">
            {{userInfo.Name}}
          </div>

          <div class="app-user-info-detail-title-introduce" [class]="showMore?'':'shot'">{{userInfo.Description}}</div>
          <div class="app-user-info-detail-title-btn flex align-items-center" (click)="clickMore()">
            <div *ngIf="showMore" class="flex align-items-center">
              <span i18n>收起 </span>
              <span [class]="showMore?'down':''" class="iconfont icon-xiala"></span>
            </div>
            <div *ngIf="!showMore" class="flex align-items-center">
              <span i18n>展开 </span>
              <span class="iconfont icon-xiala"></span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="contents-nft">
    <app-filter-box [collectionType]="(tabActive==0||tabActive==1) ? 1 : tabActive==3 ? 2 :tabActive == 2 ? 3 : 0 " (change)="filterChange($event)"></app-filter-box>
    <div class="list-box">
      <div class="list-box-tabbar flex align-items-center">
        <div class="list-box-tabbar-item flex justify-content-center align-items-center" *ngFor="let item of tabbar; let i=index" [class]="i==tabActive?'actived':''" (click)="checkTab(i)">{{item}}</div>
      </div>
      <div *ngIf="tabActive==0||tabActive==1">
        <div class="list-box-title flex align-items-center justify-content-between">
          <div class="list-box-title-total flex align-items-center">
            <div class="list-box-title-total-icon flex align-items-center justify-content-center">
              <span class="iconfont icon-shuaxin"></span>
            </div>
            <div class="list-box-title-total-num">{{nftList.length}}<span i18n> 结果</span></div>
          </div>
          <div class="list-box-title-sort flex align-items-center">
            <p-dropdown [options]="sortList" optionLabel="name" placeholder="排 序" [style]="{'width': '100%'}">
            </p-dropdown>
            <div class="list-box-title-sort-icon flex align-items-center justify-content-center" (click)="switchList(1)">
              <img src="../../../assets/images/explore/sige.png" alt="" *ngIf="listType == 1">
              <img src="../../../assets/images/explore/sige1.png" alt="" *ngIf="listType == 2">
            </div>
            <div class="list-box-title-sort-icon flex align-items-center justify-content-center" (click)="switchList(2)">
              <img src="../../../assets/images/explore/jiuge.png" alt="" *ngIf="listType == 1">
              <img src="../../../assets/images/explore/jiuge1.png" alt="" *ngIf="listType == 2">
            </div>
          </div>
        </div>
        <div class="list-box-list flex align-items-center flex-wrap">
          <div *ngFor="let items of nftList">
            <nft-item  [type]="listType" [item]="items"></nft-item>
          </div>
          <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="nftList.length==0">
            <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
            <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
          </div>
        </div>
      </div>
      <div *ngIf="tabActive==2">
        <div class="content-explore-list-item flex align-items-center flex-wrap">
          <explore-item *ngFor="let items of exploreList" [item]="items"></explore-item>
        </div>
        <div class="mx-auto flex flex-column align-items-center py-6" *ngIf="exploreList.length==0">
          <img class="w-6rem" src="../../../assets/images/home/no-data.png" alt="no-data">
          <p class="pt-2 text-400 text-sm" i18n>暂无数据</p>
        </div>
      </div>
      <div *ngIf="tabActive==3">
        <app-table [list]="transList"></app-table>
      </div>
    </div>
  </div>
</div>
