<div
  #content
  *ngIf="stateService.userMenuState$|async"
  class="menu-content"
  (click)="onCloseMenu()">
  <div
    class="menu-inner px-3 flex flex-column"
    (click)="onStopEvent($event)">
    <img
      class="menu-bg"
      src="../../../assets/images/explore/icon1.png" />
    <div class="flex relative mt-4 align-items-center overflow-hidden">
      <img
        class="w-4rem h-4rem border-circle fit-contain"
        [src]="userInfo.avatar"
        [alt]="userInfo.name">
      <p class="ml-3 flex-1 w-full text-bold text-2xl text-overflow-ellipsis white-space-nowrap overflow-hidden">
        {{userInfo.name}}
      </p>
    </div>
    <div class="mt-4 surface-900 border-round-md px-3">
      <div class="bottom-border flex justify-content-between align-items-center py-2">
        <p class="text-0">
          {{(stateService.linkedWallet$|async)?.accountAddress|centerSlice}}
        </p>
        <button
          pButton
          (click)="onCopy(stateService.linkedWallet$.value.accountAddress||'')"
          class="p-button-text text-300 no-focus"
          icon="pi pi-copy"
          ></button>
      </div>
      <div class="flex justify-content-between align-items-center py-3">
        <div class="flex align-items-center">
          <img
            class="w-1rem"
            [src]="tokenInfo.logo"
            [alt]="tokenInfo.name">
          <p class="text-0 pl-1">
            {{tokenInfo.name}}
          </p>
        </div>
        <div class="text-right">
          <p class="text-0">{{tokenNumber.base | number : '1.0-6'}}</p>
          <p class="text-300 text-xs pt-2">$ {{tokenNumber.usd | number : '1.0-2'}}</p>
        </div>
      </div>
    </div>
    <div class="flex flex-column flex-1">
      <div class="flex-1 overflow-scroll">
        <div (click)="onGoToPage('my/nft', {type: 'own'})" class="flex py-4 align-items-center cursor-pointer item-focus">
          <i class="iconfont icon-shoucang1 text-xl"></i>
          <p class="flex-1 px-2 font-bold" i18n>我的NFTs</p>
          <i class="pi pi-angle-right text-xl"></i>
        </div>
        <div (click)="onGoToPage('my/nft', {type: 'collection'})" class="flex py-4 align-items-center cursor-pointer top-border item-focus">
          <i class="iconfont icon-wenjianjia text-xl"></i>
          <p class="flex-1 px-2 font-bold" i18n>我的合集</p>
          <i class="pi pi-angle-right text-xl"></i>
        </div>
        <div (click)="onGoToPage('my/nft', {type: 'follow'})" class="flex py-4 align-items-center cursor-pointer top-border item-focus">
          <i class="iconfont icon-icon-test text-xl"></i>
          <p class="flex-1 px-2 font-bold" i18n>我的关注</p>
          <i class="pi pi-angle-right text-xl"></i>
        </div>
        <div (click)="onGoToPage('my/setting')" class="flex py-4 align-items-center cursor-pointer top-border item-focus">
          <i class="iconfont icon-shezhi text-xl"></i>
          <p class="flex-1 px-2 font-bold" i18n>设置</p>
          <i class="pi pi-angle-right text-xl"></i>
        </div>
      </div>
      <div class="flex py-3 align-items-center cursor-pointer top-border item-focus" (click)="onOutLinkWallet()">
        <i class="iconfont icon-dengchu text-xl"></i>
        <p class="flex-1 px-2 font-bold" i18n>登出</p>
        <i class="pi pi-angle-right text-xl"></i>
      </div>
    </div>
  </div>
</div>
