@import '../../../styles/base.var.scss';
.nft-items{
  &-content{
    width: 21.8rem;
    height: 30rem;
    background: #000000;
    border-radius: 1.25rem;
    margin-top: 2rem;
    margin-right: 1.25rem;
    padding: 0.625rem;
    @include media-phone {
      margin-right: 1rem;
    }
    &-img{
      width: 100%;
      height: 20.6rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 1.25rem;
      }
    }
    &.mores{
      width: 14.1rem;
      height: 21rem;
      .nft-items-content-img{
        width: 100%;
        height: 12rem;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 1rem;
        }
      }
      @include media-phone {
        width: 10.8rem;
        height: 17rem;
        .nft-items-content-img{
          width: 100%;
          height: 9rem;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 1rem;
          }
        }
      }
    }
    &-title{
      padding: 1.5rem 0.625rem 0;
      line-height: 1;
      color: #868686;
      font-size: 0.875rem;
      @include media-phone {
        padding: 1rem 0.5rem 0;
      }
      .iconfont{
        font-size: 1.5rem;
      }
    }
    &-name{
      font-size: 1rem;
      color: #FFFFFF;
      font-weight: bold;
      padding: 1rem 0.625rem 0;
      line-height: 1;
      @include media-phone {
        padding: 0.8rem 0.5rem 0;
      }
    }
    &-price{
      padding: 1.3rem 0.625rem 0;
      &-num{
        font-size: 1.12rem;
        color: #FFFFFF;
        img{
          height: 1rem;
          margin-right: 0.75rem;
        }
      }
      &-time{
        font-size: 0.875rem;
        color: #868686;
      }
    }
  }
}